p {
  font-family: "DM Sans", Verdana, sans-serif;
}

h2 {
  font-family: "Syne", Lato, sans-serif;
}

.custom-container {
  text-align: center;
}

.custom-image {
  width: 100%;
  height: auto;
}

.custom-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 3px; /* mb-3 spacing */
}

ion-icon {
  min-width: 20px;
  size: 20px;
}

.custom-sub-title {
  font-size: 18px;
  margin-bottom: 3px; /* mb-3 spacing */
}

.no-mb {
  margin-bottom: 0px !important;
}

.no-mt {
  margin-top: 0px !important;
}

.m-4-tb {
  margin-top: 4px;
  margin-bottom: 5px;
}

.custom-type {
  margin-bottom: 3px; /* mb-3 spacing */
}

.custom-id {
  margin-bottom: 3px; /* mb-3 spacing */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.custom-description {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.text-left {
  text-align: left;
}

.custom-title-pages {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 3px; /* mb-3 spacing */
}

.custom-description-pages {
  font-size: 12px !important;
  margin-bottom: 3px !important; /* mb-3 spacing */
}

.image-holder{
    width: 100px !important;
    height: 100px !important;
    overflow: hidden !important;
}

@media only screen and (max-width: 900px) {
  .image-holder{
    width: 80px !important;
    height: 80px !important;
    overflow: hidden !important;
}
}


img.resource-image {
  width: 90%;
  margin: 0 auto;
  object-fit: cover;
}