@media (max-width: 900px) {
  .left-section {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media (min-width: 901px) {
  .left-section {
    position: fixed;
    top: 74px; /* Adjust the top position to account for the height of the navigation bar */
    left: 0px;
    width: 40%; /* Adjust the width as needed */
    height:100%; /* Adjust the height to fill the remaining space */
    z-index: 1400; /* Adjust the z-index to make sure it's above other content */
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(241, 228, 225, 1);
  }
}

.w-90 {
  width: 90%;
  margin: 0 auto;
}

.w-80 {
  width: 80%;
  margin: 0 auto;
}

.m-30-tb {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mt-15 {
  margin-top: 15px;
}

.container-presentation{
  width: 90%;
  margin: 0 auto;
}

.navbar-nav{
  background-color: white !important;
}

.recurso-image {
  position: relative;
  height: 400px; /* Set the height according to your design */
  overflow: hidden;
}

.recurso-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency here */
  z-index: 1; /* Ensure the overlay is above the image */
}

section {
  background-color: var(--other-grey-color) !important;
}

#always-section {
  position: fixed;
  top: 0px; /* Adjust the top position to account for the height of the navigation bar */
  left: 0px;
  width: 100%; /* Adjust the width as needed */
  height: 100%; /* Adjust the height to fill the remaining space */
  z-index: 1500; /* Adjust the z-index to make sure it's above other content */
  box-shadow: 0px 2px 4px #666;
}

.all-centred {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.back-to-top {
  position: fixed !important;
  display: none;
  right: 30px !important;
  bottom: 30px !important; 
  z-index: 1000 !important;
}

/* Principles of the Project Section */
.principles-section {
  background-color: #f8f9fa; /* Placeholder background color */
  padding: 80px 0;
  text-align: center;
}

.feature-square {
  background-color: #ffffff; /* Placeholder background color */
  border: 1px solid #dee2e6; /* Placeholder border color */
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
}

.feature-square img {
  max-width: 100px; /* Set the maximum width of the image */
  margin-right: 20px; /* Add margin to separate image and text */
}

.feature-square h3 {
  margin-top: 0;
}

/* Features of the Project Section */
.features-section {
  background-color: #f8f9fa; /* Placeholder background color */
  padding: 80px 0;
  text-align: center;
}

.feature-square-features {
  background-color: #ffffff; /* Placeholder background color */
  border: 1px solid #dee2e6; /* Placeholder border color */
  padding: 20px;
  margin-bottom: 20px;
}

.feature-square-features img {
  max-width: 100px; /* Set the maximum width of the image */
  margin-right: 20px; /* Add margin to separate image and text */
}

.feature-square-features h3 {
  margin-top: 0;
  text-align: left;
}

.feature-square-features p {
  text-align: left;
}

.principles-section,
.features-section,
.recurso-square-col {
    background-color: #f8f9fa; /* Placeholder background color */
    padding: 80px 0;
    text-align: center;
}



.principle-square,
.feature-square,
.recurso-square-col {
    background-color: #ffffff; /* Placeholder background color */
    border: 1px solid #dee2e6; /* Placeholder border color */
    padding: 20px;
    margin-bottom: 20px;
}

.square-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.square-image {
    max-width: 100px; /* Set the maximum width of the image */
    margin-bottom: 10px;
}


.api-section {
  background-color: #f8f9fa; /* Set background color for the API section */
  padding: 80px 0; /* Adjust padding as needed */
}

/* API Square Styles */
.api-square {
  background-color: #ffffff; /* Set background color for each API square */
  border: 1px solid #e6e6e6; /* Add a border around each API square */
  padding: 20px; /* Adjust padding as needed */
  margin-bottom: 30px; /* Add margin to create space between API squares */
  border-radius: 10px; /* Add border-radius for rounded corners */
  transition: box-shadow 0.3s ease; /* Add a smooth transition effect on hover */

  /* Center the API squares */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* API Square Hover Effect */
.api-square:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow on hover */
}

/* API Content Styles */
.api-content {
  text-align: center; /* Center the content within the API square */
}

.api-image {
  width: 80px; /* Set the width of the API image/icon */
  height: 80px; /* Set the height of the API image/icon */
  margin-bottom: 20px; /* Add margin between the image and other content */
}


.recurso-square-col {
  background-color: #ffffff; /* Placeholder background color */
  border: 1px solid #dee2e6; /* Placeholder border color */
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.recurso-square {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
}

.recurso-square img {
  max-width: 100px; /* Set the maximum width of the image */
  margin-right: 20px; /* Add margin to separate image and text */
}

.recurso-square h3 {
  margin-top: 0;
}

/* Features of the Project Section */
.recursos-section {
  background-color: #f8f9fa; /* Placeholder background color */
  padding: 40px 0;
  text-align: center;
}

.gap-section {
  margin: 40px;
}

/*.gap {
  margin-top: 10px;
  margin-bottom: 10px;
}*/

.recurso-square-recursos {
  background-color: #ffffff; /* Placeholder background color */
  border: 1px solid #dee2e6; /* Placeholder border color */
  padding: 20px;
  margin-bottom: 20px;
}

.recurso-square-recursos img {
  max-width: 100px; /* Set the maximum width of the image */
  margin-right: 20px; /* Add margin to separate image and text */
}

.recurso-square-recursos h3 {
  margin-top: 0;
  text-align: left;
}

.recurso-square-recursos p {
  text-align: left;
}

.custom-textarea-height {
  height: 500px;
}

.resource-store,
.container-fluid {
  background-color: #f8f9fa;
}




/* 1. VARIABLES */
:root {
  /* widths for rows and containers */
  --header-height: 160px;
  --header-height-min: 80px;
}

/* on mobile devices below 600px */
@media screen and (max-width: 600px) {
  :root {
    --header-height: 100px;
    --header-height-min: 80px;
  }
}

@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1400px;
  }
}


/* Theme Colors */
:root {
  --accent-color: rgba(241, 228, 225, 1);
  --accent-dim-color: #E5D8D5;
  --accent-lighted-color: rgba(241, 228, 225, 0.5);
  --accent-lit-color: #F6ECEA;
  --dark-grey-color: #737373;
  --dark-color: #040404;
  --grey-color: #A9A09E;
  --other-grey-color: #f8f9fa;
  --second-grey-color: #6d747d;
  --light-color: #fff;
  --primary-color: #EC6C5A;
  --primary-lighted-color: rgba(246, 236, 234, 0.9);
}

/* Fonts */
:root {
  --body-font: "DM Sans", Verdana, sans-serif;
  --heading-font: "Syne", Lato, sans-serif;
}


/* 2 GENERAL TYPOGRAPHY */

/* 2.1 General Styles */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  font-size: 14px;
  font-weight: 300;
  line-height: 2;
  background-color: #ffffff;
  margin: 0;
  position: relative;
  padding-top: 75px;
}

body.no-scroll {
  overflow: hidden;
}

a {
  color: var(--dark-color);
  text-decoration: none;
  transition: 0.3s color ease-out;
}

a.light {
  color: var(--light-color);
}

a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: 0;
}


img {
  display: inline-block;
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

::selection {
  background: var(--primary-color);
  color: var(--light-color);
  text-shadow: none;
}

::-moz-selection {
  background: var(--primary-color);
  color: var(--light-color);
  text-shadow: none;
}

/* Typography */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--heading-font);
  color: var(--dark-color);
  line-height: 1.2;
}

h1.light,
.h1,
h2.light,
.h2,
h3.light,
.h3,
h4.light,
.h4,
h5.light,
.h5,
h6.light,
.h6 {
  color: var(--light-color);
}

h1,
h2,
h3 {
  margin: 25px 0;
  text-transform: capitalize;
}

h5,
h6 {
  letter-spacing: 1px;
}

h1,
.h1 {
  font-size: 3.5em;
  line-height: 1.4;
}

h2,
.h2 {
  font-size: 2.0em;
  line-height: 1.4;
}

h3,
.h3 {
  font-size: 1.6em;
  line-height: 1.4;
}

h4,
.h4 {
  font-size: 1.1em;
  line-height: 1.4;
}

h5,
.h5 {
  font-size: .83em;
  line-height: 1.25;
}

h6,
.h6 {
  font-size: .67em;
  line-height: 1.1;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
}

p {
  font-family: var(--body-font);
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 20px 0;
}

p.dark {
  color: var(--dark-color);
}

p.light {
  color: var(--light-color);
}

small {
  font-size: 85%;
}

::placeholder {
  color: var(--dark-grey-color);
}


/* 2.1 Floating & Alignment */
.align-left {
  float: left;
  text-align: left;
}

.align-right {
  float: right;
  text-align: right;
}

.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/**::after,*/
.container::after,
.row::after,
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

/* Text Align */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lead {
  font-size: 120%;
  line-height: 1.7em;
}

.text-lead strong {
  font-size: 115%;
  font-weight: 500;
}

.text-muted {
  color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color) !important;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}


/* 2.7 Spacing */
button,
.button {
  margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
form {
  margin-bottom: 2rem;
}


/* 2.8 Utilities */

.overflow-hidden {
  overflow: hidden;
}

.hide {
  display: none !important;
}

/* position */
.position-relative {
  position: relative !important;
}

/* display flex utilities */
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.justify-content-end {
  -ms-flex-pack: justify !important;
  justify-content: end !important;
}

.justify-content-center {
  -ms-flex-pack: justify !important;
  justify-content: center !important;
}

.justify-content-evenly {
  -ms-flex-pack: justify !important;
  justify-content: space-evenly !important;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.flex-direction-column {
  flex-direction: column !important;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.align-items-baseline {
  -ms-flex-align: baseline !important;
  align-items: baseline !important;
}


/* 2.9 Misc */

img.align-left {
  margin: 25px 25px 25px 0;
}

img.align-center {
  margin: 25px;
}

img.align-right {
  margin: 25px 0 25px 25px;
}


/* 2.10 Buttons */

.btn.btn-common {
  background: var(--dark-color);
  color: var(--light-color);
}

.btn.btn-common:hover {
  background: var(--light-color);
  color: var(--dark-color);
}

.btn.btn-accent {
  color: var(--light-color);
  background-color: var(--accent-color);
}

.btn.btn-accent:hover {
  color: var(--light-color) !important;
  background-color: var(--primary-color);
}

.btn.btn-black {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.btn.btn-black:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.btn.btn-light {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.btn.btn-light:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.btn.btn-primary {
  background: var(--primary-color);
  color: var(--light-color);
}

.btn.btn-primary:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
}

a.btn,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"],
button {
  background-image: none;
  background: var(--dark-color);
  text-decoration: none !important;
  display: inline-block;
  position: relative;
  border: 2px solid transparent;
  border-radius: 0px;
  padding: 0.75em 1.5em;
  margin-top: 15px;
  font-family: var(--body-font);
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-color);
  z-index: 1;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:hover,
.btn:focus,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="file"]:focus,
input[type="file"]:hover,
button:focus,
button:hover {
  text-decoration: none;
  outline: 0;
  border-color: transparent;
}

.btn {
  border-radius: 0px;
}

.btn.back-to-top .i {
  background-color: whitesmoke
}

.btn-left {
  text-align: left;
  display: block;
}

.btn-center {
  text-align: center;
  display: block;
}

.btn-right {
  text-align: right;
  display: block;
}


/* Section and Title */

.section-header {
  margin-bottom: 40px;
}

h1.page-title {
  font-size: 5.3em;
  font-weight: 500;
  line-height: 1em;
  letter-spacing: -0.02em;
}

h2.section-title {
  font-size: 3.8em;
  font-weight: 500;
  line-height: 1;
  color: var(--dark-color);
  margin-bottom: 20px;
}

h3.resource-title {
  margin: 5px;
}

h3.post-title {
  margin: 10px 5px;
}


/* Background Colors */

.bg-accent {
  background-color: var(--accent-color) !important;
}

.bg-other-grey {
  background-color: var(--other-grey-color) !important;
}

.bg-accent-light {
  background-color: var(--accent-lighted-color) !important;
}

.bg-light {
  background-color: var(--light-color) !important;
}

.bg-dark {
  background-color: var(--dark-color) !important;
}


.primary-color h1,
.primary-color h2,
.primary-color h3,
.primary-color h4,
.primary-color h5,
.primary-color h6 {
  color: var(--primary-color);
}

.border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.border-left {
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.125);
}


/* Content Border None */
.no-border-top {
  border-top: none !important;
}

.no-border-right {
  border-right: none !important;
}

.no-border-bottom {
  border-bottom: none !important;
}

.no-border-left {
  border-left: none !important;
}

.no-border {
  border: none !important;
}


/* 5. CONTENT ELEMENTS */

/* Dropdown */
.dropdown-menu {
  --bs-dropdown-border-radius: 0;
  --bs-dropdown-border-width: 0;
}

.dropdown-item {
  --bs-dropdown-item-padding-y: 0.25rem;
  --bs-dropdown-item-padding-x: 1rem;
  --bs-dropdown-link-color: var(--bs-black);
  --bs-dropdown-item-border-radius: 0;
}

.dropdown-item.active,
.dropdown-item:active {
  --bs-dropdown-link-active-color: var(--bs-light);
  --bs-dropdown-link-active-bg: var(--bs-light);
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}


/* Section Padding */
.padding-xsmall {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.padding-small {
  padding-top: 2em;
  padding-bottom: 2em;
}

.padding-medium {
  padding-top: 4em;
  padding-bottom: 4em;
}

.padding-large {
  padding-top: 7em;
  padding-bottom: 7em;
}

.padding-xlarge {
  padding-top: 9.5em;
  padding-bottom: 9.5em;
}

/* no padding */
.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-tb {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.no-padding-lr {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

/* Section margin */

.margin-small {
  margin-top: 3em;
  margin-bottom: 3em;
}

.margin-medium {
  margin-top: 5em;
  margin-bottom: 5em;
}

.margin-large {
  margin-top: 7em;
  margin-bottom: 7em;
}

.margin-xlarge {
  margin-top: 9em;
  margin-bottom: 9em;
}

@media only screen and (max-width: 768px) {

  .margin-small,
  .margin-medium,
  .margin-large {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}



/* 7. SITE STRUCTURE */

header#header {
  display: flex;
  justify-content: center;
  margin-bottom: -130px;
}

header#header .header-wrap {
  z-index: 99;
}

@media only screen and (max-width: 991px) {
  header#header {
    justify-content: end !important;
  }
}


/* Search Form */
.user-items i.icon.icon-search {
  cursor: pointer;
}

.navbar .search-item input {
  font-weight: 500;
  border: none;
  padding-left: 10px;
}

.right-block .user-items form.search-form {
  width: 120px;
  align-items: center;
}

/* Main Logo */
.header-wrap .main-logo {
  margin: 0 auto;
}

/* Navigation */
.header-wrap .mobile-device {
  display: none;
}

nav.primary-nav {
  padding: 20px 0;
}

nav {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  z-index: 1000 !important;
  height: 75px !important;
}

.navbar li .sub-page {
  font-size: 15px;
}

.navbar li {
  font-size: 1em;
  font-family: var(--heading-font);
  font-weight: 700;
  padding-right: 32px;
}

.primary-nav li.menu-item a:hover,
.primary-nav li.menu-item a:focus {
  color: var(--dark-color);
  text-decoration: underline;
}

.primary-nav li.menu-itemhome1 a:hover,
.primary-nav li.menu-itemhome1 a:focus {
  color: var(--light-color);
  text-decoration: underline;
}

a.text-black.text-uppercase.dropdown-item:hover {
  text-decoration: none;
}

@media only screen and (max-width: 1599px) {

  .dropdown-menu.show {
    display: contents;
  }

  .navbar li .sub-page {
    text-align: center;
  }

  .main-menu ul.menu-list {
    position: fixed;
    top: -500px;
    left: 0;
    width: 100%;
    flex-direction: column;
    text-align: center;
    transition: 0.8s;
    z-index: 9;
  }

  .main-menu ul.menu-list .nav-link {
    display: none;
  }

  .main-menu ul.menu-list.responsive .nav-link {
    display: block;
  }

  .main-menu ul.menu-list.responsive {
    top: 0;
    padding-top: 100px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
  }


  .main-menu ul.menu-list.responsive a {
    font-size: 2em;
    color: var(--light-color);
    border-bottom: none;
    padding: 0;
  }

  .main-menu ul.menu-list.responsive a:hover {
    color: var(--primary-color);
  }

  .main-menu ul.menu-list.responsive a.text-black.text-uppercase.dropdown-item {
    font-size: 1rem;
  }

  .main-menu .hamburger {
    display: block;
    position: absolute;
    top: -15px;
    left: 20px;
    z-index: 999999;
    padding: 10px;
    cursor: pointer;
    direction: ltr;

  }
}

@media only screen and (max-width: 1200px) {
  .header-wrap .row {
    display: flex;
    justify-content: end;
  }

  .header-wrap .right-block {
    display: none !important;
  }

  .header-wrap .brand-block {
    direction: rtl;
  }

  .header-wrap .mobile-device {
    font-size: 1.3em;
    margin-right: 20px;
    display: flex;
  }

  .header-wrap .mobile-device a.cart {
    direction: ltr;
  }
}

@media only screen and (max-width: 767px) {
  .header-wrap .brand-block {
    width: 400px;
  }
}


/* Company Services Horizontal */
.icon-box .content-box {
  padding-top: 20px;
}

.icon-box i.icon {
  color: var(--primary-color);
  font-size: 3em;
  padding-bottom: 20px;
  display: block;
}

.icon-box p {
  margin-top: 10px;
}

/* Company Services Vertical */
.icon-box.vertical .icon-content {
  margin-left: 28px;
}

/* Fashion Trending */
.resource-store .resource-item {
  margin-bottom: 30px;
  cursor: pointer;
}

.resource-item .cart-concern {
  position: absolute;
  bottom: 30px;
  left: 20px;
  z-index: 9;
  transition: 0.5s ease-out;
  opacity: 0;
}

.resource-item:hover .cart-concern {
  bottom: 70px;
  opacity: 1;
}

.resource-item:hover h3.resource-title a {
  text-decoration: underline;
}

.resource-item .cart-concern button {
  padding: 6px 12px;
  margin-left: 5px;
}

.resource-item .cart-concern i.icon {
  font-size: 1.3em;
}

@media only screen and (max-width: 598px) {
  img.resource-image {
    width: 90%;
    margin: 0 auto;
    display: flex;
  }
}


/* Footer */
.footer {
  color: #B0B9AE;
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #B0B9AE;
  font-weight: normal;
  text-transform: capitalize;
  transition: .3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  color: var(--light);
  letter-spacing: 1px;
  box-shadow: none;
}